.btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px 10px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;

  font-weight: 600;
  font-size: 18px;

  background-color: var(--color-purple);
  border: var(--border-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: all 0.14s ease-out;
}
.btn:hover {
  color: var(--color-purple-dark);
  background-color: var(--color-white);
  border: var(--border-purple);
  box-shadow: var(--shadow-hover);
  border-collapse: collapse;

  transform: translate(-4px, -4px);
}

/*Secondary button*/
.btn--secondary {
  background-color: var(--color-gray-light);
}

.btn--secondary:hover {
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  border: var(--border-gray);
}
