form {
  max-width: 420px;
  margin: 40px 0px 0px 0px;
}

.contact-form {
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;

  font-size: 15px;
  line-height: 22px;

  background-color: transparent;
  border: var(--border-black);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  transition: all 0.3s;
}

label {
  font-size: 15px;
  font-weight: var(--bold);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

[type="text"]:focus,
[type="email"]:focus {
  border-color: var(--color-purple-dark);
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

[type="submit"] {
  margin-top: -4px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;

  cursor: pointer;

  font-weight: var(--bold);
  font-size: 20px;

  background: var(--color-purple);
  border: var(--border-black);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);

  transition: all 0.3s;
}

[type="submit"]:hover {
  color: var(--color-purple-dark);
  background-color: var(--color-white);
  border: var(--border-purple);
  box-shadow: var(--shadow-hover);
  border-collapse: collapse;
  transform: translate(-4px, -4px);
}
