.title {
  width: 100%;
  padding: 0.3rem 0;
  border-top: 2px solid var(--color-white);

  font-family: Rubik, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

.subtitle {
  font-family: "Roboto Mono", "monospace";
  font-size: 1em;
  font-weight: 700;
}

.p-big {
  margin: 0;
  font-family: "Rubik", sans-serif;
  line-height: 100%;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
.content-centered {
  width: 100%;
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
